* {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.btn {
  background-color: teal;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(2, 113, 113);
}

header {
  background: url("images/donation9.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
}
.header-overlay {
  background: #0000007a;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-content {
  width: 50%;
}
.header-content h1 {
  font-size: 65px;
  color: white;
  margin-bottom: 1rem;
}
.header-content p {
  color: lightgray;
  font-size: 20px;
  margin-bottom: 2rem;
}

.title-wrapper {
  width: 60%;
  margin: auto;
}
.section-title {
  font-size: 45px;
  margin-bottom: 1rem;
  text-align: center;
}
.section-subtitle {
  color: gray;
  font-size: 18px;
  margin-bottom: 2rem;
  text-align: center;
}

.donate-amount {
  padding: 50px 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.donate-amount-content {
  width: 60%;
  text-align: center;
}
.demo-amount {
  display: flex;
}
.demo-amount .single-amount {
  font-size: 30px;
  font-weight: bold;
  height: 100px;
  width: 120px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
}
.demo-amount .single-amount.active {
  border: 2px solid teal;
  color: teal;
}
.custom-amount input {
  width: 650px;
  color: gray;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 10px;
  margin-bottom: 2rem;
}
.custom-amount input:focus {
  outline: none;
}

.donate-plan {
  padding: 50px 100px;
}
.donate-plan-items {
  display: flex;
}
.single-plan {
  margin: 10px;
  padding: 70px 20px;
  border-radius: 5px;
}
.single-plan img {
  width: 50px;
  margin-bottom: 1rem;
}
.single-plan h3 {
  font-size: 23px;
  margin-bottom: 1rem;
}
.single-plan p {
  color: gray;
}
#donate-plan1 {
  background-color: aliceblue;
}
#donate-plan2 {
  background-color: beige;
}
#donate-plan3 {
  background-color: lemonchiffon;
}

.get-updates {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.get-updates .subscribe {
  padding: 70px 200px;
  background-color: beige;
}
.get-updates .subscribe input {
  border: none;
  height: 30px;
  width: 250px;
  background-color: lightgray;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px 0px 0px 5px;
}
.get-updates .subscribe input:focus {
  outline: 0;
}
.get-updates .subscribe .btn {
  border-radius: 0px 5px 5px 0px;
  padding: 0;
  height: 50px;
  width: 120px;
}

footer {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.85);
  color: lightgray;
  margin-top: 50px;
}
